.Achivment
    overflow: scroll
    overflow-x: hidden

    height: calc( 40vh - 20px )
    margin: 20px 0

    h2
        font-size: 20px
        font-weight: 500

    ul

        li

            background-color: #FFFFFF1A
            border-radius: 10px
            padding: 10px

            .infoContainer
                display: flex
                align-items: center
                justify-content: space-between
                position: relative
                border-bottom: 1px solid #FFFFFF0D
                padding-bottom: 10px

                span
                    background-color: #FFFFFF1A
                    border-radius: 10px
                    padding: 5px 20px
                    font-size: 16px

                div
                    display: flex
                    align-items: center
                    gap: 10px

                    img
                        width: 45px
                        background-color: #FFFFFF1A
                        border-radius: 10px
                        padding: 10px
